[build]
  command = "npm ci && npm run build"
  publish = "dist/reg-estudiantes-fr/browser"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
